@import url('https://fonts.googleapis.com/css?family=Ubuntu|VT323');
// font-family: 'VT323', monospace;
// font-family: 'Ubuntu', sans-serif;
body,
html {
    background: #faf0e3;
    font-family: 'Ubuntu', sans-serif;
    color: #272B34;
}

* {
    box-sizing: border-box;
}

h1 {
    color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h5,
legend {
    font-family: 'VT323', monospace;
    font-size: 1.7em;
    padding: .5em 0;
    text-transform: uppercase;
}

hr {
    border: none;
    height: 2px;
    background: #272B34;
    max-width: 50%;
    margin: 0 auto;
}

.thick {
    height: 4px;
    margin-top: 1em;
    margin-bottom: 4px;
}

i {
    color: #2B9388;
    font-size: .9em;
}

p,
label,
input,
select,
textarea,
option {
    font-size: .9rem;
}

legend {
    float: left;
    width: 100%;
    padding: 1.2em 0;
    color: #2b313b;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #2B9388;
    h1 {
        font-size: 2em;
    }
}

.wrapper {
    .headings {
        text-align: center;
        padding: 1em;
    }
    .form {
        width: 90%;
        margin: auto;
        padding: 1em;
        // First Field Set
        .contact {
            margin-top: 10px;
            [required]::placeholder {
                text-align: right;
                color: #afafaf;
                font-style: italic;
            }
            label {
                display: block;
            }
            #zipcode {
                width: 50%;
            }
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            width: 100%;
            padding: .8em 1.2em;
            margin-top: 10px;
            margin-bottom: 20px;
            background-color: #c9c9c9;
            border: none;
            border-radius: 4px;
            outline: none;
            -webkit-appearance: none;
            &:focus {
                background: #e8e8e8;
                transition: all 500ms ease-in-out;
                border: 3px dotted#2B9388;
            }
        }
        input[type="radio"],
        input[type="checkbox"] {
            width: 2em;
            height: 20px;
            margin: 8px 0;
        }
        .labels {
            font-size: .9em;
        }
        // Second Field Set
        .newsletter {
            margin: 0 auto;
            .news-titles {
                display: block;
                margin: 10px 0;
            }
        }
    }
    .btn {
        width: 100%;
        font-size: 1em;
        color: #f5f5f5;
        background-color: #2B9388;
        border: none;
        padding: .8em 0;
        border-radius: 4px;
    }
    footer {
        text-align: center;
        padding: 2em 0;
    }
}

@media (min-width: 768px) {
    .wrapper {
        .form {
            max-width: 50%;
            margin: auto;
            fieldset:first-of-type label {
                display: inline-block;
                width: 30%;
            }
            .contact {
                label {
                    max-width: 25%
                }
                input,
                select {
                    max-width: 70%;
                }
                #zipcode {
                    width: 30%;
                }
            }
            // Second Field Set
            .newsletter {
                .news-titles {
                    display: block;
                    margin: 10px 0;
                }
            }
        }
    }
}